*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: grey;
  width: 100%;
  height: 100vh;
  position: relative;
}
.box{
  width: 150px;
  height: 250px;
  border-radius: 5%;
  position: absolute;
  top: 40%;
  left:50%;
  margin-left: -75px;
  margin-top: -125px;
}
.box::before{
  content: "\26D2";
  position: absolute;
  font-size: 18px;
  top: 89%;
  left:84%;
}
.yellow_box{
  background-color: yellow;
  transform-origin: 91% 94%;
  transform: rotate(-15deg);
  transition: 1s;
}
.red_box{
  background-color: red;
  transform-origin: 91% 94%;
  transform: rotate(-5deg);
  transition: 1s;
}
.purple_box{
  background-color: darkmagenta;
  transform-origin: 91% 94%;
  transform: rotate(5deg);
  transition: 1s;
}
.blue_box{
  background-color: darkcyan;
  transform-origin: 91% 94%;
  transform: rotate(15deg);
  transition: 1s;
  
}
.crimson_box{
  background-color: crimson;
  transform-origin: 91% 94%;
  transform: rotate(25deg);
  transition: 1s;
}
.blue_box:hover ~ .crimson_box{
  transform: rotate(150deg);
}
.purple_box:hover ~ .crimson_box{
  transform: rotate(150deg);
}
.purple_box:hover ~ .blue_box{
  transform: rotate(150deg);
}
.red_box:hover ~ .crimson_box{
  transform: rotate(150deg);
}
.red_box:hover ~ .blue_box{
  transform: rotate(150deg);
}
.red_box:hover ~ .purple_box{
  transform: rotate(150deg);
}
.yellow_box:hover ~ .crimson_box{
  transform: rotate(150deg);
}
.yellow_box:hover ~ .blue_box{
  transform: rotate(150deg);
}
.yellow_box:hover ~ .purple_box{
  transform: rotate(150deg);
}
.yellow_box:hover ~ .red_box{
  transform: rotate(150deg);
}
.crimson_box:hover{
  transform: none;
}
.crimson_box:hover ~ .blue_box{
  transform: none;
}
.crimson_box:hover ~ .purple_box{
  transform: none;
}
.crimson_box:hover ~ .red_box{
  transform: none;
}
.crimson_box:hover ~ .yellow_box{
  transform: none;
}
i.fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}